.vscode/**
.vscode-test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
node_modules/**
node_modules_dev/**
node_modules_prod/**
esbuild.js
build-vsix.sh
rumo-app-dev-*.vsix
